.footer {
  background: #303141;
  color: #fff;
  padding: 2rem 10rem;
}

.footer-social-media {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.footer-social-media img {
  width: 36px;
  height: 36px;
}

.footer-divider {
  border: 0;
  height: 1px;
  background: #404c67;
  margin: 1rem 0;
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.footer-column {
  width: 15rem;
}

.footer-logo {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.footer-logo img {
  padding-bottom: 0.5rem; 
}

.footer-logo span {
  color: #f8fafe;
}

.footer-column h4 {
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 0.5rem;
}

.footer-column a {
  text-decoration: none;
  color: #777883;
}

.star-icon img {
  width: 18px;
  height: 16px;
}

.star-image {
  float: left;
  margin-top: 1rem;
}

.star-icon h4 {
  margin-left: 6rem;
  color: #777883;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #777883;
}

/* Responsive Styles for Footer */
@media (max-width: 768px) {
  .footer {
    padding: 2rem 2rem;
  }

  .footer-columns {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .footer-column {
    width: 100%;
    text-align: center;    
  }

  .footer-social-media {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .star-image {
    float: none;
    margin: 0.5rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;

    
  }

  .star-icon h4 {
    margin-left: 0;
  }
}
