.logos-section {
    display: flex;
    align-items: center;
    padding: 1rem 10rem;
    background: #2b2c3b; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .logo {
    width: 5rem; 
    padding-left: 0.5rem;
    
  }
  